.lanyard-wrapper {
  position: absolute;
  z-index: 50;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.lanyard-wrapper canvas {
  pointer-events: auto;
}

.lanyard-welcome-text {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  pointer-events: none;
  z-index: 10;
}
